<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/rhizomacbookproretina3/of_v0.8.0_osx_release/addons/ofxFaceTracker/example-expression/ofApp.xcodeproj</string>
</dict>
</plist>
